In [152]:
from power_outage_data import load_yearly_data, load_fips_shapes, lat_lon_to_fips
from storm_data import (
    load_clusters,
    load_tracks,
    date_str_to_storm_time,
    storm_time_to_datetime,
    get_intensity
)

yearly_power_data = load_yearly_data()
fips_shapes = load_fips_shapes()
clusters = load_clusters()
# Load tracks and prefilter for year.
tks = load_tracks()
tks = tks.where(tks.season>=2014, drop=True)

In [153]:
# iterate over each cluster

def lookup_storms_in_cluster(cluster):
    storm_dicts = []
    for _, row in cluster.iterrows():
        d = row.to_dict()
        start = date_str_to_storm_time(d['first_landfall_time']) - 0.01
        end = date_str_to_storm_time(d['final_landfall_time']) + 0.01
        sid = bytes(d['sid'], 'utf-8')

        storms = tks.where(
            (tks['time'] >= start) & (tks['time'] <= end) & (tks['sid'] == sid),
            drop=True
        )
        storm = storms.sel(storm=0)
        lon = storm.lon.values
        lat = storm.lat.values
        fips_codes = []
        county = []
        state = []
        for lat, lon in zip(lat, lon):
            fips = lat_lon_to_fips(lat, lon, fips_shapes)
            if fips:
                fips_codes.append(fips['id'])
                county.append(fips['properties']['NAME'])
                state.append(fips['properties']['STATE'])
            else:
                fips_codes.append(None)
                county.append(None)
                state.append(None)

        storm_dict = {
            **d,
            'year': int(storm.season.values[0]),
            'intensity': get_intensity(storm),
            'times': [storm_time_to_datetime(time) for time in storm.time.values],
            'lon': storm.lon.values,
            'lat': storm.lat.values,
            'fips_code': fips_codes,
            'county': county
        }
        storm_dicts.append(storm_dict)

    return storm_dicts


cluster_0 = list(clusters)[0][1]

cluster_0_storms = lookup_storms_in_cluster(cluster_0)
cluster_0_storms[1]

{'storm': 21,
 'sid': '2019299N25265',
 'name': 'OLGA',
 'fullmoment_label': 0,
 'spatmoment_label': 0,
 'first_landfall_time': '2019-10-26 06:00:00',
 'final_landfall_time': '2019-10-27 15:00:00',
 'year': 2019,
 'intensity': np.float32(45.0),
 'times': [datetime.datetime(2019, 10, 26, 6, 0),
  datetime.datetime(2019, 10, 26, 9, 0),
  datetime.datetime(2019, 10, 26, 12, 0),
  datetime.datetime(2019, 10, 26, 15, 0),
  datetime.datetime(2019, 10, 26, 18, 0),
  datetime.datetime(2019, 10, 26, 21, 0),
  datetime.datetime(2019, 10, 27, 0, 0),
  datetime.datetime(2019, 10, 27, 3, 0),
  datetime.datetime(2019, 10, 27, 6, 0),
  datetime.datetime(2019, 10, 27, 9, 0),
  datetime.datetime(2019, 10, 27, 12, 0),
  datetime.datetime(2019, 10, 27, 15, 0)],
 'lon': array([-91.200005, -90.554405, -90.      , -89.65197 , -89.3     ,
        -88.67649 , -88.      , -87.565056, -87.      , -86.10014 ,
        -84.7     , -82.69062 ], dtype=float32),
 'lat': array([28.8     , 30.048195, 31.7     , 33.874447, 36.2     , 38.3074  ,
        40.1     , 41.43971 , 42.5     , 43.56252 , 44.5     , 45.30344 ],
       dtype=float32),
 'fips_code': [None,
  '22095',
  '28077',
  '28161',
  '47045',
  '17191',
  '17019',
  '17197',
  None,
  '26127',
  '26143',
  None],
 'county': [None,
  'St. John the Baptist',
  'Lawrence',
  'Yalobusha',
  'Dyer',
  'Wayne',
  'Champaign',
  'Will',
  None,
  'Oceana',
  'Roscommon',
  None]}

# Visualize a cluster

In [ ]:
import pandas as pd

storm = cluster_0_storms[0]
power_outage_data = yearly_power_data[storm['year']]

storm_df = pd.DataFrame({
    'fips_code': storm['fips_code'],
    'date': [time.date() for time in storm['times']],
    'hour': [time.hour for time in storm['times']],
    'lat': storm['lat'],
    'lon': storm['lon'],
})
storm_df
merged  = storm_df.merge(power_outage_data.drop(columns='hour'), on=['fips_code', 'date'], how='left')
merged

   fips_code         day  hour  ...     county    state customers_out
0       None  2018-05-28    18  ...        NaN      NaN           NaN
1      12131  2018-05-28    21  ...     Walton  Florida         563.0
2      12131  2018-05-29     0  ...     Walton  Florida         535.0
3      01039  2018-05-29     3  ...  Covington  Alabama         235.0
4      01013  2018-05-29     6  ...     Butler  Alabama        1310.0
5      01001  2018-05-29     9  ...    Autauga  Alabama        2556.0
6      01007  2018-05-29    12  ...       Bibb  Alabama         493.0
7      01073  2018-05-29    15  ...  Jefferson  Alabama       11355.0
8      01133  2018-05-29    18  ...    Winston  Alabama         581.0
9      01033  2018-05-29    21  ...        NaN      NaN           NaN
10     47181  2018-05-30     0  ...        NaN      NaN           NaN
11     47085  2018-05-30     3  ...        NaN      NaN           NaN
12     21221  2018-05-30     6  ...        NaN      NaN           NaN
13     21233  2018-05-30     9  ...        NaN      NaN           NaN
14     18051  2018-05-30    12  ...        NaN      NaN           NaN
15     18153  2018-05-30    15  ...        NaN      NaN           NaN
16     18107  2018-05-30    18  ...        NaN      NaN           NaN
17     18015  2018-05-30    21  ...        NaN      NaN           NaN
18     18039  2018-05-31     0  ...        NaN      NaN           NaN
19     26015  2018-05-31     3  ...        NaN      NaN           NaN
20     26111  2018-05-31     6  ...        NaN      NaN           NaN
21     26135  2018-05-31     9  ...        NaN      NaN           NaN

[22 rows x 8 columns]